<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>摄影店线上预约订购管理系统</title>
    <style>
        /* .sign_up{
            display: none;
        } */
    </style>
  </head>
  <body>
    <div class="container">
      <div class="intro">
        <h1></h1>
        <p></p>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="sign_up">
        <div class="information">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username..."
          />
          <input type="email" name="emal" id="email" placeholder="Email..." />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password..."
          />
          <button class="signUp">sign up</button>
        </div>
      </div>
      <div class="sign_in">
        <input type="email" name="emal" id="email" placeholder="Email..." />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password..."
        />
        <button class="signIn">sign in</button>
      </div>
    </div>
  </body>
</html>
